#top_header {
    padding: 10px 0;
    background-color: white;
}

.gradient-icon {
    padding: 14px 28px;
    border-radius: 15px;
    background: linear-gradient(108deg, #26CECE 0%, #AD82F7 100%);
}

.gradient-icon:hover {
    background: linear-gradient(108deg, #AD82F7 0%, #26CECE 100%);
}

.nav-items {
    margin-right: 30px;
}

.navbar-toggler:focus {
    box-shadow: none;
}