/* fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* fonts import /-end */

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(./assets/images/background.png);
    background-repeat: repeat-y;
    background-size: cover;
}

.wrapper_container {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}

/* .bg_color {
    background-image: url(./assets/images/background.png);
    background-repeat: repeat-y;
    background-size: cover;
    height: 100vh;
} */